@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

.menu {
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px;
    color: wheat;
    position: fixed;
    z-index: 999;
    top: 10px;
}

.bottom-bar {
    position: absolute;

    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    padding: 6px;
    color: white;
    font-weight: 300;
    width: 100%;
    font-size: 14pt;
    padding-left: 21px;
}

body, h2 {
    font-family: 'Droid Sans', sans-serif !important;
}

.post-container {
    max-width: 650px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    border-bottom: dotted thin black;

}

.top-bar {
    height: 46px;
    z-index: 9999;
    background-color: black;
    color: white;
    padding: 5px;
    left: 0px;
    position: fixed;
    right: 0px;
    top: 0px
}

.menuHidden {
    left: -400px;
}

@media (max-width: 650px) {
    .title {
        padding-left: 10px;
    }
}

.social {
    height: 400px;
    background-color: black;
    color: white;
}

.social-inner {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}