
<div class="top-bar">
    <button type="button" class="btn btn-info btn-sm pull-right" ng-show="posts.canResume()" ng-click="posts.resume()">Continue from last visit</button>

    <button type="button" class="btn btn-success" ng-click="toggleMenu()">
        <i class="fa fa-search"></i>
    </button>

    Funny Shit & Sexy Girls Uncut



</div>
<div ng-class="[menuCss]" class="menu">
    <div ng-repeat="tag in tags">
        <label><input type="checkbox" ng-click="tagToggle(tag)" style="margin-right:7px"/>{{tag}}</label>
    </div>
    <!--<button ng-click="fapMode()" class="btn btn-danger">Fap Mode</button>-->
    <!--<input ng-keydown="keyPress($event)" placeholder="Click here, use arrows to nav" class="form-control"/>-->
    <a ng-click="toggleMenu()" class="btn btn-primary" style="margin-top: 15px">Close</a></div>
<div class="row" style="margin-top: 30px">
    <div class="col-xs-12">

        <div infinite-scroll="loadMore()" infinite-scroll-distance="4">
            <div ng-repeat="image in images" class="post-container" ng-hide="image.hidden">


                    <div class="title"><h2>{{image.title}}</h2></div>
                    <a href="{{image.url}}" target="_blank">
                        <img ng-src="{{image.url}}" class="img-responsive" on-error="image"/>
                    </a>

                    <a href="#!/post/{{image.id}}">[Permalink]</a>
                    <a ng-click="report(image)" class="pull-right"><i class="fa fa-warning"></i> Report</a>


            </div>
        </div>
    </div>
</div>
